Source: zebr0-core
Section: libs
Priority: optional
Maintainer: Thomas JOUANNOT (Mazerty) <mazerty@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7

Package: zebr0-core
Architecture: all
Depends: ${misc:Depends}, python3, python3-requests
Description: Python 3 shared library for zebr0 command-line programs
